# 행렬식 구하기

In [48]:
fbyf = matrix(1:16, nrow = 4, byrow = TRUE)
fbyf

     [,1] [,2] [,3] [,4]
[1,]  1    2    3    4
[2,]  5    6    7    8
[3,]  9   10   11   12
[4,] 13   14   15   16

In [49]:
det(fbyf)

[1] 4.733165e-30

# 선형회귀모델

In [40]:
library(tidyverse)
library(ISLR)
library(caret)
library(MLmetrics)

Warning message:
"package 'ISLR' was built under R version 4.0.4"
Warning message:
"package 'caret' was built under R version 4.0.4"
Loading required package: lattice


Attaching package: 'caret'


The following object is masked from 'package:purrr':

    lift


Warning message:
"package 'MLmetrics' was built under R version 4.0.4"

Attaching package: 'MLmetrics'


The following objects are masked from 'package:caret':

    MAE, RMSE


The following object is masked from 'package:base':

    Recall

In [41]:
data = Carseats
data = data[,c(1,3,5,8,9)]
data %>% head()

  Sales Income Population Age Education
1  9.50  73    276        42  17
2 11.22  48    260        65  10
3 10.06  35    269        59  12
4  7.40 100    466        55  14
5  4.15  64    340        38  13
6 10.81 113    501        78  16

In [43]:
set.seed(1234)
test_idx = createDataPartition(data$Sales, p = 0.3, list = FALSE)
train = data[-test_idx,]
test = data[test_idx,]

In [54]:
# 행렬 생성
X_tr = cbind(1, train[,-1]) %>% as.matrix
Y_tr = train$Sales %>% as.matrix
Bhat = solve(t(X_tr) %*% X_tr) %*% t(X_tr) %*% Y_tr
Bhat

           [,1]
1          10.2025929252
Income      0.0156162755
Population -0.0005183994
Age        -0.0426565413
Education  -0.0960313547

In [45]:
X_te = cbind(1, test[,-1]) %>% as.matrix
Y_te = test$Sales %>% as.matrix
yhat_te = X_te %*% Bhat
RMSE(yhat_te, Y_te)

[1] 2.746303

In [46]:
# (+) 모델링 통해
fit = lm(Sales ~ ., data = train)
fit %>% summary

Call:
lm(formula = Sales ~ ., data = train)

Residuals:
    Min      1Q  Median      3Q     Max
-8.0943 -1.9498 -0.2619  1.7160  8.2290

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) 10.2025929  1.2232914   8.340 3.66e-15 ***
Income       0.0156163  0.0060043   2.601   0.0098 **
Population  -0.0005184  0.0011297  -0.459   0.6467
Age         -0.0426565  0.0103677  -4.114 5.14e-05 ***
Education   -0.0960314  0.0627465  -1.530   0.1271
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 2.726 on 274 degrees of freedom
Multiple R-squared:  0.08613,	Adjusted R-squared:  0.07279
F-statistic: 6.456 on 4 and 274 DF,  p-value: 5.6e-05

In [47]:
yhat = predict(fit, test)
RMSE(yhat, test$Sales)

[1] 2.746303

# 가중선형회귀모델

In [55]:
X_tr = X_tr[1:5, c(1,4)]
Y_tr = Y_tr[1:5,]
W = diag(c(2,2,2,1,1))
Bhat = solve(t(W %*% X_tr) %*% W %*% X_tr) %*% t(W %*% X_tr) %*% W %*% Y_tr
Bhat

    [,1]
1   3.1219645
Age 0.1201618